html{
    background-color: #D9F4FC;
}
h1{
    background-color: #A1E3F7;
    padding: 20px;
    margin:0;
    font-size: 45px;
}

h1, h2 {
    text-align: center;
}

#btn{
    background-color:#FEFB99;
    border: 1px solid #FEFB99;
    width: 60px;
    border-radius: 5px;
    font-size: 15px;
    color:#282828;
}

#btn:hover{
    border-color: #F7EF99;
}

.textbox {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 300px;
    min-height: 20px;
    resize: vertical;
    border-color: #D3D3D3;
}

#flashcardDisplay {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.flip-card {
    width: 450px;
    height: 300px;
    perspective: 1000px;
    position: absolute;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.is-flipped .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1);
    background-color: white;
    color: black;

    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    overflow-wrap: break-word;
    overflow-y: auto;
    scrollbar-color: #D3D3D3 
    transparent;
    text-align: center;

    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateX(180deg);
}

.flipbtn {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.displayBtn button{
    background-color: #FEFB99;
    border: 1px solid #FEFB99;
    border-radius: 50%;
    width: 35px;
    height: 25px;
}

.displayBtn {
    background-color: #BAEEE5;
    width: 100px;
    height: 35px;
    border-radius: 15px;

    justify-content: center;
    display: flex;
    align-items: center;

    gap: 10px;
}


.displayBtn button:hover{
    border-color: #BAEEE5;
}

